.imageElement--cover {
    object-fit: cover;
}

.infoCardHeadline {
    font-family: serif;
    font-size: 2.25rem;
    font-weight: normal;
    color: gray;
    border: 2px solid black;
    padding: 24px;
}
  
.infoCardCallActionContainer :global(.vtex-button) {
    color: white;
    background-color: gray;
    border: transparent;
}

.infoCardCallActionContainer :global(.vtex-button):hover {
    color: gray;
    background-color: yellow;
    border: transparent;
}

.infoCardContainer--button-right {
    background-color: #61dd28;
}

.infoCardContainer {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0;
  }